
.design1
{
	text-align: center;
	font-size: 60px;
	color: orangered;
	box-shadow: 5px 5px 40px 25px orangered inset;
	padding: 3%;
	border-radius: 15px;
	background: whitesmoke;

	

}
body
{
	background:   #458b74;
}



.a
{
	border-radius: 15px;
	animation: saharsh 5s infinte;
	box-shadow: 5px 5px 35px 15px 	darkseagreen inset;
	
	background: whitesmoke;
}
@media(max-width: 900px)
{
	.design1
	{
		font-size: 30px;
		box-shadow: 2px 2px 5px 5px orangered inset,-2px -2px 5px 5px orangered inset;

	}
	.modal-dialog
	{
		margin-top: 25%;

	}
	iframe
	{
		width: 320px;
		height: 300px;
	}
}
